*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial,sans-serif;
    background-color: #0d1a2d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: #1a2b46;
    border-radius: 10px;
    box-shadow: 0 4px 15px #27344b;
    overflow: hidden;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.container .imga{
    width: 100%;
    height: auto;
    max-width: 300px;
    margin-bottom: 20px;
}

h1 {
    margin-left: 15px;
    cursor: pointer;
    text-align:left;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

h1:hover{
    color: #006eff;
}

p {
    text-align: left;
    font-size: 16px;
    color: #aaaaaa;
    line-height: 1.5;
    margin-bottom: 20px;
}

.icon{
    color: #06c4d1;
    text-align: left;
}

.icone {
    width: 18px; 
    height: 18px;
    object-fit: contain; 
}